// Variables
$font-family: 'Calibri', sans-serif;
$primary-color: #984807;
$secondary-color: #c06912;
$highlight-color: #004f8a;
$dark-text-color: #333;
$gray-text-color: gray;
$header-height: 105px;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin responsive-column($breakpoint: 768px) {
  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

// Base styles
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family;
  max-width: 1200px;
}

body {
  line-height: 1.5;
}

// Header
header {
  @include flex-center;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;

  .logo {
    p {
      color: $secondary-color;
    }
  }

  nav {
    ul {
      @include flex-center;
      list-style: none;
      gap: 15px;
    }
  }

  .nav-link {
    font-weight: normal;
    color: black;
    text-decoration: none;

    &.active {
      font-weight: bold;
    }
  }
}

// Home section
#home {
  height: auto;
  padding-top: calc($header-height + 50px);

  .intro {
    display: flex;
    position: relative;
    
    img {
      z-index: 2;
      position: absolute;
      left: 2.7%;
    }

    .intro-text {
      width: 65%;
      position: absolute;
      z-index: 1;
      left: 22%;
      margin-top: 50px;

      h1 {
        margin-left: 150px;
      }

      .intro-skills {
        color: white;
        background-color: gray;
        text-align: center;
        padding-block: 70px;
        margin-top: 20px;

        h2 {
          font-size: 25pt;
          margin-bottom: 20px;
        }

        ul {
          list-style: none;
          font-size: 18pt;
          line-height: 1.5rem;
        }
      }
    }
  }

  .logos {
    margin-top: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
      height: 80px;
    }

  }
}

// About section
#about {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  .about {
    @include flex-center;
    justify-content: space-around;
    gap: 20px;

    .about_l, .about_r {
      flex: 1;
      padding-inline: 10px;
    }

    @include responsive-column;

    .about_l {
        h1 {
            color: #686868;
            font-size: 50pt;
            padding-block: 0px;
        }
    
        .about_skills {
            color: #004f8a;
           
            h2 {
              font-size: 17pt;
            }
    
            ul {
              list-style: none;
              padding-left: 20px;
              color: #004f8a;
        
              li {
                position: relative;
                padding-inline: 30px;
                margin: 10px;
                font-size: 12.2pt;
                line-height: 0.7rem;
        
                &::before {
                  content: '';
                  position: absolute;
                  top: 50%;
                  left: 0;
                  transform: translateY(-50%);
                  width: 10px;
                  height: 10px;
                  border: 2px solid #004f8a;
                  box-shadow: 2px 2px 2px #004f8a;
                }
              }
            }
          }
    }

    .about_r {
      margin-top: 60px;
      
        /* about_info */
        .about_info {
            width: 400px;

            h2 {
              font-size: 18pt;
            }

            h3 {
              font-size: 14pt;
              margin-block: 5px;
            }

            p {
              margin-block: 5px;
            }
        }
    
        .about_strengths {
            margin-top: 20px;
            width: 400px;
            padding-left: 10px;

            h3 {
              margin-left: -10px;
            }

            li {
                list-style-type: square;
                line-height: 1.2rem;
            }
        }
    }
      
  }

  .about_footer {
    /* about_footer */
    display: flex;
    padding-inline: 50px;
    margin-top: 20px;
    line-height: 1rem;

    .about_quote {
        /*flex: 1;*/
        width: 40%;
        color: #262626;

        h3 {
          margin-bottom: 10px;
        }

        .quote_name {
          flex: 1;
            text-align: right;
        }
    }

    .about-contact {
      display: flex;
      align-items: center;
      margin-left: 350px;
      height: 30px;
      width: 150px;
    }
    
  }
}

#services {
  @include flex-center;
  flex-direction: column;
  padding-top: 30px;

  .services-t {
    padding-inline: 20px;
    margin-left: 8px;

    h1 {
      color: #686868;
      font-size: 50pt;
    }

    h2 {
      color: #4d4d4d;
      font-size: 23pt;
    }

    h3 {
      color: #4d4d4d;
      font-size: 19pt;
    }

    .styled-table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 16px;
      text-align: left;

      thead {
          tr {
          background-color: #6c757d; /* Dark gray */
          color: #ffffff;
          text-align: left;

          th {
            padding: 12px 15px;
            border: 1px solid gray;
            font-size: 1.2rem;
          }
        }
      }

      tbody {
        tr {
          border: 1px solid gray;

          td {
            padding-inline: 20px;
            padding-block: 10px;
            line-height: .9rem;
            font-size: .9rem;
          }

          .td-data {
          color: #215968;
          font-weight: bold;
          border-right: solid 1px gray;
          width: 190px;
          }
        }

        tr:nth-child(odd) {
          background-color: #dedede; /* Light gray */
        }

        tr:nth-child(even) {
          background-color: #f5f5f5; /* Light gray */
        }
      }
    }
  }

  .services-b {
    display: flex;
    margin-left: 8px;
    padding-inline: 20px;
    padding-top: 10px;
    gap: 30px;

    .offer {
      background-color: #eeece1;
      margin-top: 20px;
      padding: 20px;
      color: #0d0d0d;
      height: fit-content;
      font-size: .9rem;

      h3 {
        color: #212121;
      }
    }

    .other-services-container {
      .other-services {
        background-color: #ddd9c3;
        height: fit-content;
        padding: 20px;
        margin-block: 20px;
        color: #0d0d0d;
        font-size: .9rem;

        h3 {
          color: #212121;
        }
      }
    }
  }
}

#portfolio {
  padding-top: 30px;
  padding-left: 125px;
  
  h1 {
    color: #686868;
    font-size: 50pt;
  }

  h2 {
    color: #0d0d0d;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .portfolio-container {
    @include flex-center;
    flex-direction: column;

    .portfolio-t {
      display: flex;
      margin-bottom: 20px;
    

      p {
        color: #5e5e5e;
        flex: 1;
        font-size: 1.1rem;
        font-weight: bold;
        position: relative;
        padding-inline: 30px;
        padding-top: 30px;
        padding-bottom: 2px;
        background-color: #c1baa1;
        border: 1px solid #5e5e5e;

        &::before {
          content: '';
          position: absolute;
          top: 22%;
          left: 0;
          transform: translateY(-50%);
          width: 15px;
          height: 15px;
          border: 2px solid #5e5e5e;
          box-shadow: 2px 2px 2px #5e5e5e;
        }
      }

      .portfolio-t-r {
        display: flex;
        flex: 1;
        

        .webpages-container {
          flex: 1;
          padding-inline: 30px;

          h3 {
            margin-left: 20px;
          }


          .webpages {
            margin-left: 20px;
            padding-inline: 20px;
            background-color: #a59d84;
            margin-block: 5px;
            width: 150px;
            cursor: pointer;
            gap: 10px;
            border: 1px solid black;
            border-radius: 5px;

            &:hover {
              background-color: #7f7a63;
              transform: scale(1.05);
              transition: all 0.3s ease;
            }
          }
        }

        .landing-pages {
          flex: 1;
          cursor: pointer;

          .logo-container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            img {
              height: 40px;
              width: 150px;
              border: 1px solid black;
              border-radius: 5px;
              padding-inline: 10px;
              margin-left: 0px;

              &:hover {
                transform: scale(1.05);
                transition: all 0.3s ease;
                background-color: white;
              }

            }
          }
        }
      }
      
    }

    .portfolio-b {
      display: flex;
      gap: 50px;

      .portfolio-b-l {
        width: 40%;

        p {
          color: #5e5e5e;
          font-size: 1.1rem;
          font-weight: bold;
          position: relative;
          padding-left: 30px;
          padding-block: 20px;
          padding-right: 15px;
          background-color: #b3c8cf;
          border: 1px solid #5e5e5e;

  
          &::before {
            content: '';
            position: absolute;
            top: 22%;
            left: 0;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            border: 2px solid #5e5e5e;
            box-shadow: 2px 2px 2px #5e5e5e;
          }
        }

        .machine-container {
          display: flex;
          flex-direction: column;

          .machine-desc {
            margin-top: 10px;
            margin-right: 0px;
            background-color: #89a8b2;
            padding: 5px 10px;
            width: fit-content;
            cursor: pointer;
            border: 1px solid black;
            border-radius: 5px;

            &:hover {
              background-color: #6d8f99;
              transform: scale(1.05);
              transition: all 0.3s ease;
            }
          }
        }
      }

      .portfolio-b-r {
        width: 60%;

        p {
          color: #5e5e5e;
          //flex: 1;
          font-size: 1.1rem;
          font-weight: bold;
          position: relative;
          padding-inline: 30px;
          background-color: #d6c0b3;
          padding-block: 20px;
          border: 1px solid #5e5e5e;
  
          &::before {
            content: '';
            position: absolute;
            top: 25%;
            left: 0;
            transform: translateY(-50%);
            width: 15px;
            height: 15px;
            border: 2px solid #5e5e5e;
            box-shadow: 2px 2px 2px #5e5e5e;
          }
        }

        .email-sample, .email-landing-page {
          background-color: #ab886d;
          width: fit-content;
          padding: 5px 10px;
          margin-block: 10px;
          margin-left: 0px;
          cursor: pointer;

          &:hover {
            background-color: #8b6d54;
            transform: scale(1.05);
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}

#testimonial {
  padding-top: 50px;
  padding-left: 110px;
  
    .testimonial_header {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        h1 {
            font-size: 50pt;
            margin-left: 15px;
            color: #686868;
            padding-left: 0%;
        }

        img {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
            margin-left: -410px;
        }
    }

    .testimonial-container {
        display: flex;
        justify-content: space-around;

      .icon-parent {
        .circle {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          margin-left: 20%;
          margin-bottom: -20px;
          background-color: #dbeef4;
        }

        .icon {
            position: relative;
            background-color: #dbeef4;
            width: 300px; /* Adjust width */
            height: auto;
            padding: 30px;
            text-align: center;
            clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%);
        }
      }
    }
}

#contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 30px;
  gap: 20px;

  .contact-left {
    margin-left: 25px;
    
    h1 {
      color: #686868;
      font-size: 50pt;
      height: 50pt;
      margin-bottom: 20px;
    }

    .image-container {
      position: relative;

      img {
        width: 500px;
        height: 330px;
        display: block;
      }

      .overlay-text {
        position: absolute;
        top: 87%;
        left: 7%;
        font-size: 1.4rem;
        font-weight: bold;
      }
    }    

    .talk {
      display: flex;
      width: 500px;
      padding-left: 40px;
      margin-top: 10px;

      h3 {
        width: 150px;
      }
    }

    .contact-info {
      margin-block: 20px;
      .info-item {
        display: flex;
        /*margin: 20px;*/
        align-items: center;

        img {
          width: 40px;
          height: 30px;
          margin-inline: 20px;
        }
      }
    }
  }

  .contact-right{
    width: 50%;
    margin-top: 55px;
    padding-top: 5%;      

    .form-fields {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      
      label {
        margin-left: 80px;
      }

      input, textarea {
        padding: 10px;
        border: 2px solid;
        border-color: #add8e6;
        width: 70%;
      }

      button {
        padding: 10px;
        border: 1px solid #c06912;
        background-color: #c06912;
        color: white;
        font-weight: bold;
        margin-left: 70px;
      }
    }
  }
}


/* This is the button at the bottom of every section */
.contact-me {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c06912;
  width: 150px;
  height: 30px;
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;

  &:hover {
    background-color: #984807;
    transform: scale(1.05);
    transition: all 0.3s ease;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
  }
}

/* styles common to all sections */
.section {
  scroll-margin-top: $header-height;
  padding-inline: 100px;
}

// Media queries
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  #about .about {
    flex-direction: column;
  }
}


.email-style {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}